# Required for general binding function
numpy>=1.13.0

# For arrows
opencv-python>=3.4.2.17,<=4.0.0
pillow==8.4.0
scipy>=1.8,<=1.9

# For pytorch arrow
# pytorch arrow is disabled for now
#torch==1.4.0
#torchvision==0.5.0

# if building wheel
scikit-build<=0.11.1

# Required for testing
coverage>=4.4.1,<5.0.0
pytest==9.0.3
multimethod>=1.2,<=1.4

# for pybind11 wrapping generation
castxml==0.4.5
pygccxml==2.4.0

# for python examples
matplotlib==3.7.2
