# Required for general binding function
numpy==1.24.4

# Required for testing
coverage==7.4.1
pytest==8.0.0
multimethod==1.4

# if creating a wheel
scikit-build==0.17.6

# for pybind11 wrapping generation
pygccxml==3.0.2

# for python examples
matplotlib==3.7.2
